@import "./bootstrap-scss/bootstrap.scss";
@import "./custom/components/accordion";
@import "./custom/components/button";
@import "./custom/helper/nav";
@import "./custom/pages/news";
@import "./custom/components/form";

body {
    font-family: NotoSansCJKtc-Regular;
    color: #494846;
    background: #f8f9fa;
}




